---
version: "3.6"
services:
  db:
    image: "{{ mattermost_docker_images.db }}"
    restart: "unless-stopped"
    volumes:
      - {{ mattermost_db_directory }}:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    environment:
      - POSTGRES_USER=mmuser
      - POSTGRES_PASSWORD=mmuser_password
      - POSTGRES_DB=mattermost
    expose:
      - "5432"
    logging:
      driver: journald
      options:
        tag: "mattermost/db"
    networks:
      services:

  app:
    image: {{ mattermost_docker_images.app }}
    depends_on:
      - db
    restart: "unless-stopped"
    volumes:
      - {{ mattermost_config_directory }}:/mattermost/config:rw
      - {{ mattermost_data_directory }}:/mattermost/data:rw
      - {{ mattermost_plugins_directory }}:/mattermost/plugins:rw
      - {{ mattermost_client_plugins_directory }}:/mattermost/client/plugins:rw
      - {{ mattermost_logs_directory }}:/mattermost/logs:rw
      - /etc/localtime:/etc/localtime:ro
    user: "{{ mattermost_user.uid }}:{{ mattermost_user.gid }}"
    environment:
      - MM_USERNAME=mmuser
      - MM_PASSWORD=mmuser_password
      - MM_DBNAME=mattermost

      # use the credentials you've set above, in the format:
      # MM_SQLSETTINGS_DATASOURCE=postgres://${MM_USERNAME}:${MM_PASSWORD}@db:5432/${MM_DBNAME}?sslmode=disable&connect_timeout=10
      - MM_SQLSETTINGS_DATASOURCE=postgres://mmuser:mmuser_password@db:5432/mattermost?sslmode=disable&connect_timeout=10
    ports:
      - 127.0.0.1:8065:8065
    networks:
      services:
    logging:
      driver: journald
      options:
        tag: "mattermost/app"

networks:
  services:
